/* Estilo geral */
body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #fafafaab;
}

/* Menu */
nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: #7c0909de;
    overflow: hidden;
}

nav ul li {
    float: left;
}

nav ul li a {
    display: block;
    color: white;
    padding: 14px 20px;
    text-decoration: none;
}

nav ul li a:hover {
    background-color: #575757;
}

/* Títulos */
h1 {
    color: #7c0a0a;
    font-family:'Times New Roman', Times, serif;
    font-size: 30px;
}

h2{
    color: #000000;
    font-family:'Times New Roman', Times, serif;
    font-size: 30px;

}

h3{
    color: #080707;
    font-family:'Times New Roman', Times, serif;
    font-size: 30px;
}

/* sobre nós */
p{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight:bolder ;
    
}

 /* área de receita */
.receitas {
    display: flex;
    gap: 20px;
    margin-top: 20px;
    font-weight: bolder;
}

.receita {
    background-color: #fff;
    padding: 10px;
    border-radius: 8px;
    width: 300px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    text-align: center;
    
    
}


/* Links */
p a {
    display: inline-block;
    margin-top: 10px;
    background-color: #0066cc;
    color: white;
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 4px;
}

p a:hover {
    background-color: #004999;
}

img{

height: 400px;
width: 400px;
border-radius: 10%;


}

