*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #fff;
    padding: 20px;
}

.menu{
  width: 100vw;
  height: 80px;
  background-color: #fff;
  justify-content: space-between;
  align-items: center;
}

.menu-lista{
    word-spacing: 320px;
}

h1{
   font-size: 250px;

}

img{
    width: 95%;
    border-radius: 20px;
    margin: 60px;

}

.segundo{
    display: flex;
    justify-content: end;
    
}


