body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 20px;
    background-color: #f4f6f8;
    color: #333;
}

h1{
    color: #007ACC;
}

#formulario{
    margin-bottom: 20px;
}

input #mensagem {
    width: 300px;
    padding: 10px;
    border: 1px solid #ccc;
}

button {
    padding: 10px 20px;
    background-color: #007ACC;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;

}

button:hover{
    background-color: #007ACC;
}

ul #listaMensagens{
    list-style-type: nine;
    padding-left: 0;
}

ul #listaMensagens li{
    background-color: white;

}
